.home-wrapper {
  margin: ($base-size * 3) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 2px solid lighten($color-dark, 60%);
  border-radius: $radius;
}

/* MAIN */

.main-options {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: $color-light;
  font-family: $font-header;
  text-transform: uppercase;

  /* ORDER */

  h2 {
    font-size: 36px;
    margin: 20px 0 10px;
    font-weight: $font-light;
  }

  h3 {
    font-size: 20px;
    margin: auto;
    color: $color-light;
    font-weight: $font-semibold;
  }

  .order-online, .book-table {
    height: 150px;
    width: 300px;
    background-size: cover;
    margin: 3px;
    flex: 40%;
    border-radius: $radius;
    font-family: $font-header;
    cursor: pointer;

    h2 {
      position: relative;
      top: 30px;
    }

    p {
      position: relative;
      font-family: $font-text;
      top: 20px;
      visibility: hidden;
      text-transform: lowercase;
      font-size: 14px;
    }
  }

  .order-online {
    background-image: url("./../../images/assets/pizza-1.jpg");
  }

  .book-table {
    background-image: url("./../../images/assets/pizza-2.jpg");
  }

  .order-online:hover {
    h2 {
      transform: translateY(-40px);
      opacity: 1;
      transition: 0.7s all;
    }

    p {
      visibility: visible;
      transform: translateY(-38px);
      opacity: 1;
      transition: 0.7s all;
    }
  }

  .opening-hours {
    background: $color-main;
    flex: 100%;
    height: 140px;
    width: 600px;
    margin: 3px;
    border-radius: $radius;
  }
}

/* CAROUSEL */

.carousel-section {
  height: 300px;
  margin-top: 30px;
  margin: 10px;
  margin-top: 100px;
  
  
  .carousel-item {
    width: 100%;
    display: flex;
    height: 100%;
    margin: 10px;
  }
  
  img {
    border-radius: $radius;
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-right: 50px;
  }
  
  h4 {
    font-weight: $font-bold;
    text-transform: uppercase;
    font-family: $font-text;
    font-size: 18px;
  }
  
  p:nth-child(2) {
    font-size: 14px;
    font-weight: $font-light;
    text-align: justify;
    font-family: $font-text;
  }
  
  p:nth-child(3) {
    font-style: italic;
    font-size: 16px;
  }
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  cursor: pointer;

  .gallery-box {
    position: relative;
    padding: 4px auto;

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }

  .gallery-box:hover {
    img {
      opacity: 0.5;
      transition: all 0.4s;
    }

    .overlay{
      visibility: visible;
    }
  }

  ul {
    li {

      display: inline;
      font-size: 0;

      i {
        font-size: 26px;
      }

      .fa-heart {
        padding: 10px;
        color: $color-danger;
      }

      .fa-share-alt {
        padding: 10px;
        color: $color-light;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.instagram {

  text-align: center;
  padding: 10px auto;
  margin: 20px auto;

  a {
    color: $color-main;
    text-decoration: none;
  }
}

